body {
    margin: 0px;
    padding: 0px;
}

/*Estilo do Cabeçalho*/

header {
    background-color: rgb(236, 94, 249);

}

a {
  text-decoration: none;
  color: inherit;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 5px;
    border: 3px black solid;
}

.titulo {
    font-size: 50px;
}



/*Barra de pesquisa*/
.pesquisa {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    
}

.barra_de_navegacao {
    height: 50px;
    width: 500px;
    border: 2px black solid;
}


.botao_de_pesquisa {
    height: 55.5px;
    width: 70px;
    border: 2px black solid;
}

.imagem_botao_de_pesquisa {
    height: 40px;
    width: 40px;
}
/*Barra de pesquisa*/



/*Carrinho de compras*/

.carrinho_compras{
    display: flex;
    align-items: center;
    padding: 30px;
}

h2 {
    font-size: 40px;
}

.img_carrinho {
    height:65px;
    width: 65px;
    margin-right: 15px;
}
/*Carrinho de compras*/


/*Corpo do site*/
/*.lista_carrinho {
    
}*/
.livros_carrinho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.livros {
    padding-top: 10px;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    
}

.comprar_livros {
    margin-top: 10px;
    border: 1px solid black;
    height: 390px;
    width: 50%;
}

/*Corpo do site*/

/*Rodape do site*/

footer {
    background-color: #4F4F4F;
    border: black solid 3px;
}

.rodape {
    color: white;
    text-align: center;   
}


